<div id="add-form-container" class="container">
  <div class="row">
    <div class="col-md-12">
      <a href="/" class="back-link main-color">Voltar</a>
      <h1 class="text-center">Excluindo vaga</h1>
    </div>
    <div id="form-box" class="col-md-12">
      <form action="/jobs/delete/{{job.dataValues.id}}" method="POST">
        <div class="form-group">
          <label for="title">Título da vaga:</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            value="{{job.dataValues.title}}"
          />
        </div>
        <div class="form-group">
          <label for="company">Empresa contratante:</label>
          <input
            type="text"
            class="form-control"
            id="company"
            name="company"
            value="{{job.dataValues.company}}"
          />
        </div>
        <div>
          <input type="hidden" name="new_job" value="1" />
          <button
            class="btn-a"
            type="submit"
            onclick="return confirm('Tem certeza que quer excluir a vaga de {{job.dataValues.title}} na empresa {{job.dataValues.company}}?')"
          >Excluir vaga
          </button>
        </div>
      </form>
    </div>
  </div>
</div>